body{
    background-color: coral;
}

h2{
    color: azure;
}

p{
    color: cyan;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    border-width: 2px;
}